.pictureDiv{
    width: 50%; 
    max-height: 10%;
}
.pictureText{
    background-color: rgb(3, 89, 143);
}

.bodyBG{
    background-image: url('../img/carbon_fibre.png');
}

.footer{
    background: url('../img/real_cf.png');
    padding: 50px;
}

.navBG{
    background: url('../img/white_carbon.png');
}